html body{
    margin: 0;
    padding: 0;
    height: 100%;
}

#header-row .container-fluid .row #banner{
    /*background-image: url("./assets/banners/GradientBanner.png");*/
    background-color: #CCCCCC;
    background-size: cover;
    background-position: center;
    height: 76px;
    -webkit-box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.5);
    z-index: 8;
    text-align: center;
}

#doe-banner{
    width: 302px;
    height: 76px;
    background: url("./assets/banners/DOE.png");
    background-size: 302px 76px;
    background-repeat: no-repeat;
    position: absolute;
}

#header-row .container-fluid .row #banner #banner-title{
    color: rgba(255, 30, 28, 0.97);
    font-size: 45px;
    font-family: 'Bebas Neue';
    text-shadow: 2px 2px #9b9b9b;
    line-height: 75px;
    margin: 0px;
}

.arrow{
    filter: drop-shadow( -8px 0 2px hsla(0, 0%, 0%, 0.2));
}

@font-face {
    font-family: Cobert;
    src: url(./assets/fonts/Corbert_Cond_Ital/CorbertCondensed-Italic.otf);
}

@font-face {
    font-family: Cobert;
    font-weight: bold;
    src: url(./assets/fonts/Corbert_Cond_Ital/CorbertCondensed-Italic.otf);
}

@font-face {
    font-family: Aileron;
    src: url(./assets/fonts/Aileron/Aileron-Regular.otf);
}

@font-face {
    font-family: Aileron;
    font-weight: bold;
    src: url(./assets/fonts/Aileron/Aileron-HeavyItalic.otf);
}

@font-face {
    font-family: Bebas Neue;
    src: url(./assets/fonts/BebasNeue/BebasNeueRegular.otf);
}

@font-face {
    font-family: Bebas Neue;
    font-weight: bold;
    src: url(./assets/fonts/BebasNeue/BebasNeueBold.otf);
}

#sankey-create #add-sankey h3, #sankey-create #add-sankey button{
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
}

#sankey-display{
    height: 800px;
    background-color: #ffffff;
    z-index: -2;
    padding-top: 0;
}

#sankey-form{
    background-color: #ffffff;
    height: 1000px;
    position: relative;
    z-index: -2;
}

#sankey-container{
    background-color: #ffffff;
    margin: 15px 0 10px 10px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#loss-add-container{

}

#loss-add-container button{
    display: inline-block;
}

#drop_zone{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    padding: 0px;
}

#elem{
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.imageContainer{
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

imageContainer{
    background-color: blue;
}

imageContainer.resizable {
    background: cyan;
    position: relative;
}

imageContainer.resizer {
    width: 10px;
    height: 10px;
    background-color: #303336;
    position:absolute;
    right: 0;
    bottom: 0;
    cursor: se-resize;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

#title-row{
    height: 40px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.5);
    position: relative;
    z-index: 5;
}

.btn-pop{
    background-color: #20181f;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.5);
    positasasasion: relative;
}

#createSankeyBtn {
    background-color: #7ec783;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.5);
    position: relative;
}

#createSankeyBtn:focus {
    outline: none !important;
}

#createSankeyBtn:active {
    outline: none !important;
    background-color: #7ec783;
    border-bottom: none;
}

#createSankeyBtn:disabled{
    background-color: #9b9b9b;
    cursor: not-allowed;
}

#contextMenu {
    position: absolute;
    display:none;
}

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}
@media print {
    .noPrint{
        display: none;
        visibility: hidden;
    }
    #sankey-display {
        display: block;
    }
    #sankey-display{
        width: 100%;
    }
}
